header{
    width: calc(100vw - 40px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--deep-blue);
    padding: 20px;
}

.text-logo{
    display: flex;
    flex-direction: row;
}

#weather{
    color: var(--light-sky-blue);
}

#app{
    color: var(--tangerine);
}

#toggle-theme-button{
    font-size: 30px;
    background: transparent;
    border: none;
    transition: 0.2s ease;
}

#toggle-theme-button:hover{
    transform: scale(1.1);
}

#search-form{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10px;
    align-items: center;
    gap: 5px;
}

form #city-name{
    padding: 10px;
    background: none;
    color: var(--white);
    border: solid 2px var(--white);
    border-radius: 10px;
}

form #city-name::placeholder{
    color: var(--light-gray);
}

#get-weather-button{
    padding: 10px;
    background-color: var(--gray-hint);
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

#get-weather-button:hover{
    background-color: var(--light-sky-blue);
    color: var(--white);
}

.cities-suggestions-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 2px;
    top: calc(100%);
}

.cities-suggestions-container button{
    padding: 10px;
    background-color: var(--gray-hint);
    border: none;
    border-radius: 2px;
}

.cities-suggestions-container button:hover{
    background-color: var(--light-sky-blue);
}

main{
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex: 1;
}

.units-toggle{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px;
    border: solid 1px var(--gray-hint);
}

.units-toggle button{
    width: 30px;
    height: 30px;
    background-color: var(--gray-hint);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.units-toggle button:not(.active):hover{
    background-color: var(--light-sky-blue);
    color: var(--white);
}

.units-toggle .active{
    background-color: var(--tangerine);
    color: var(--white);
}

.temp-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-container{
    display: flex;
    justify-content: center;
}

.weather-overview-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.weather-overview-container p{
    padding: 10px;
    margin: 2px;
    border: solid 2px var(--gray-hint);
    border-radius: 10px;
    min-height: 10vh;
}

footer{
    width: 100vw;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container a{
    color: var(--light-sky-blue);
}

.openweather-credits{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.openweather-credits img{
    object-fit: cover;
    width: 80%;
    max-height: 80px;
}

@media (max-width: 768px){
    header{
        flex-direction: column;
    }

    .weather-overview-container{
        grid-template-columns: 1fr 1fr;
    }
}