header{
    width: calc(100vw - 40px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(6, 6, 80);
    padding: 20px;
}

header h1{
    color: #FFFFFF;
}

#search-form{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

#search-form button{
    padding: 10px;
}

form #city-name{
    padding: 10px;
}

main{
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.temp-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-container{
    display: flex;
    justify-content: center;
}

.weather-overview-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 20vh;
}

.weather-overview-container p{
    padding: 10px;
    margin: 2px;
    background-color: #e5e5e5;
    border-radius: 5px;
}